ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: #34697b;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

li a:hover {
  background-color:cyan;
}
li a:active{
    background-color:aqua;
}
.lan{
    float:right;

}

.secd{
    display:none;
}
